In [6]:
import pandas as pd
df1 = pd.read_csv('catatan_lokasi.csv')
df2 = pd.read_csv('data_profil.csv')

In [8]:
df1.head()

   id   tanggal   lokasi_dominan
0   1  21/05/19    Jakarta Pusat
1   2  21/05/19  Kabupaten Bogor
2   3  21/05/19    Jakarta Pusat
3   4  21/05/19   Kota Tangerang
4   5  21/05/19       Kota Bogor

In [9]:
df2.head()

   id jenis_kelamin                 divisi  umur
0   1     Laki-laki       Customer Service    34
1   2     Laki-laki          Data Engineer    26
2   3     Laki-laki      Software Engineer    28
3   4     Perempuan  Business Intelligence    21
4   5     Perempuan      Software Engineer    21

In [10]:
df1.dtypes

id                 int64
tanggal           object
lokasi_dominan    object
dtype: object

In [11]:
df2.dtypes

id                int64
jenis_kelamin    object
divisi           object
umur              int64
dtype: object

In [19]:
df3 = pd.merge(df1, df2, on='id', how='right')

In [20]:
df3

       id   tanggal      lokasi_dominan jenis_kelamin             divisi  umur
0       1  21/05/19       Jakarta Pusat     Laki-laki   Customer Service    34
1       1  22/05/19       Jakarta Pusat     Laki-laki   Customer Service    34
2       1  23/05/19       Jakarta Pusat     Laki-laki   Customer Service    34
3       1  24/05/19         Kota Bekasi     Laki-laki   Customer Service    34
4       1  25/05/19         Kota Bekasi     Laki-laki   Customer Service    34
5       1  26/05/19          Kota Medan     Laki-laki   Customer Service    34
6       1  27/05/19         Kota Bekasi     Laki-laki   Customer Service    34
7       1  28/05/19         Kota Padang     Laki-laki   Customer Service    34
8       1  29/05/19         Kota Padang     Laki-laki   Customer Service    34
9       1  30/05/19         Kota Padang     Laki-laki   Customer Service    34
10      1  31/05/19         Kota Padang     Laki-laki   Customer Service    34
11      1  01/06/19         Kota Padang     Laki-laki   Customer Service    34
12      1  02/06/19         Kota Padang     Laki-laki   Customer Service    34
13      1  03/06/19         Kota Padang     Laki-laki   Customer Service    34
14      1  04/06/19         Kota Padang     Laki-laki   Customer Service    34
15      1  05/06/19         Kota Padang     Laki-laki   Customer Service    34
16      2  21/05/19     Kabupaten Bogor     Laki-laki      Data Engineer    26
17      2  22/05/19     Kabupaten Bogor     Laki-laki      Data Engineer    26
18      2  23/05/19     Jakarta Selatan     Laki-laki      Data Engineer    26
19      2  24/05/19     Kabupaten Bogor     Laki-laki      Data Engineer    26
20      2  25/05/19     Kabupaten Bogor     Laki-laki      Data Engineer    26
21      2  26/05/19     Kabupaten Bogor     Laki-laki      Data Engineer    26
22      2  27/05/19     Kabupaten Bogor     Laki-laki      Data Engineer    26
23      2  28/05/19     Kabupaten Bogor     Laki-laki      Data Engineer    26
24      2  29/05/19       Jakarta Timur     Laki-laki      Data Engineer    26
25      2  30/05/19         Kota Manado     Laki-laki      Data Engineer    26
26      2  31/05/19         Kota Manado     Laki-laki      Data Engineer    26
27      2  01/06/19         Kota Manado     Laki-laki      Data Engineer    26
28      2  02/06/19         Kota Manado     Laki-laki      Data Engineer    26
29      2  03/06/19         Kota Manado     Laki-laki      Data Engineer    26
...   ...       ...                 ...           ...                ...   ...
1570   99  23/05/19          Kota Depok     Perempuan  Software Engineer    25
1571   99  24/05/19       Jakarta Timur     Perempuan  Software Engineer    25
1572   99  25/05/19    Kabupaten Bekasi     Perempuan  Software Engineer    25
1573   99  26/05/19          Kota Depok     Perempuan  Software Engineer    25
1574   99  27/05/19       Jakarta Timur     Perempuan  Software Engineer    25
1575   99  28/05/19    Kabupaten Bekasi     Perempuan  Software Engineer    25
1576   99  29/05/19          Kota Depok     Perempuan  Software Engineer    25
1577   99  30/05/19  Kabupaten Wonogiri     Perempuan  Software Engineer    25
1578   99  31/05/19  Kabupaten Wonogiri     Perempuan  Software Engineer    25
1579   99  01/06/19  Kabupaten Wonogiri     Perempuan  Software Engineer    25
1580   99  02/06/19  Kabupaten Wonogiri     Perempuan  Software Engineer    25
1581   99  03/06/19  Kabupaten Wonogiri     Perempuan  Software Engineer    25
1582   99  04/06/19  Kabupaten Wonogiri     Perempuan  Software Engineer    25
1583   99  05/06/19  Kabupaten Wonogiri     Perempuan  Software Engineer    25
1584  100  21/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1585  100  22/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1586  100  23/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1587  100  24/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1588  100  25/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1589  100  26/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1590  100  27/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1591  100  28/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1592  100  29/05/19       Jakarta Timur     Perempuan  Software Engineer    29
1593  100  30/05/19    Kabupaten Sleman     Perempuan  Software Engineer    29
1594  100  31/05/19    Kabupaten Sleman     Perempuan  Software Engineer    29
1595  100  01/06/19    Kabupaten Sleman     Perempuan  Software Engineer    29
1596  100  02/06/19    Kabupaten Sleman     Perempuan  Software Engineer    29
1597  100  03/06/19    Kabupaten Sleman     Perempuan  Software Engineer    29
1598  100  04/06/19    Kabupaten Sleman     Perempuan  Software Engineer    29
1599  100  05/06/19    Kabupaten Sleman     Perempuan  Software Engineer    29

[1600 rows x 6 columns]

In [24]:
def status(city):
    jabo=['jakarta','bogor','depok','tangerang','bekasi']
    r=0
    for j in jabo:
        if j in city.lower():
            r=1
    return r

In [25]:
status('solo')

0

In [26]:
df3['is_jabodetabek']=df3.lokasi_dominan.apply(status)

In [27]:
df3

,id,tanggal,lokasi_dominan,jenis_kelamin,divisi,umur,is_jabodetabek
0,1,21/05/19,Jakarta Pusat,Laki-laki,Customer Service,34,1
1,1,22/05/19,Jakarta Pusat,Laki-laki,Customer Service,34,1
2,1,23/05/19,Jakarta Pusat,Laki-laki,Customer Service,34,1
3,1,24/05/19,Kota Bekasi,Laki-laki,Customer Service,34,1
4,1,25/05/19,Kota Bekasi,Laki-laki,Customer Service,34,1
5,1,26/05/19,Kota Medan,Laki-laki,Customer Service,34,0
6,1,27/05/19,Kota Bekasi,Laki-laki,Customer Service,34,1
7,1,28/05/19,Kota Padang,Laki-laki,Customer Service,34,0
8,1,29/05/19,Kota Padang,Laki-laki,Customer Service,34,0
9,1,30/05/19,Kota Padang,Laki-laki,Customer Service,34,0
10,1,31/05/19,Kota Padang,Laki-laki,Customer Service,34,0
11,1,01/06/19,Kota Padang,Laki-laki,Customer Service,34,0
12,1,02/06/19,Kota Padang,Laki-laki,Customer Service,34,0
13,1,03/06/19,Kota Padang,Laki-laki,Customer Service,34,0
14,1,04/06/19,Kota Padang,Laki-laki,Customer Service,34,0
15,1,05/06/19,Kota Padang,Laki-laki,Customer Service,34,0
16,2,21/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1
17,2,22/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1
18,2,23/05/19,Jakarta Selatan,Laki-laki,Data Engineer,26,1
19,2,24/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1
20,2,25/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1
21,2,26/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1
22,2,27/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1
23,2,28/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1
24,2,29/05/19,Jakarta Timur,Laki-laki,Data Engineer,26,1
25,2,30/05/19,Kota Manado,Laki-laki,Data Engineer,26,0
26,2,31/05/19,Kota Manado,Laki-laki,Data Engineer,26,0
27,2,01/06/19,Kota Manado,Laki-laki,Data Engineer,26,0
28,2,02/06/19,Kota Manado,Laki-laki,Data Engineer,26,0
29,2,03/06/19,Kota Manado,Laki-laki,Data Engineer,26,0
...,...,...,...,...,...,...,...
1570,99,23/05/19,Kota Depok,Perempuan,Software Engineer,25,1
1571,99,24/05/19,Jakarta Timur,Perempuan,Software Engineer,25,1
1572,99,25/05/19,Kabupaten Bekasi,Perempuan,Software Engineer,25,1
1573,99,26/05/19,Kota Depok,Perempuan,Software Engineer,25,1
1574,99,27/05/19,Jakarta Timur,Perempuan,Software Engineer,25,1
1575,99,28/05/19,Kabupaten Bekasi,Perempuan,Software Engineer,25,1
1576,99,29/05/19,Kota Depok,Perempuan,Software Engineer,25,1
1577,99,30/05/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0
1578,99,31/05/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0
1579,99,01/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0
1580,99,02/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0
1581,99,03/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0
1582,99,04/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0
1583,99,05/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0
1584,100,21/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1585,100,22/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1586,100,23/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1587,100,24/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1588,100,25/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1589,100,26/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1590,100,27/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1591,100,28/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1592,100,29/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1
1593,100,30/05/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0
1594,100,31/05/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0
1595,100,01/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0
1596,100,02/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0
1597,100,03/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0
1598,100,04/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0
1599,100,05/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0

In [58]:
def age (umur):
    if (umur < 30): 
        return 0
    else:
        return 1

In [59]:
age(29)

0

In [60]:
df3['is_umur']=df3.umur.apply(age)

In [61]:
df3

,id,tanggal,lokasi_dominan,jenis_kelamin,divisi,umur,is_jabodetabek,is_umur
0,1,21/05/19,Jakarta Pusat,Laki-laki,Customer Service,34,1,1
1,1,22/05/19,Jakarta Pusat,Laki-laki,Customer Service,34,1,1
2,1,23/05/19,Jakarta Pusat,Laki-laki,Customer Service,34,1,1
3,1,24/05/19,Kota Bekasi,Laki-laki,Customer Service,34,1,1
4,1,25/05/19,Kota Bekasi,Laki-laki,Customer Service,34,1,1
5,1,26/05/19,Kota Medan,Laki-laki,Customer Service,34,0,1
6,1,27/05/19,Kota Bekasi,Laki-laki,Customer Service,34,1,1
7,1,28/05/19,Kota Padang,Laki-laki,Customer Service,34,0,1
8,1,29/05/19,Kota Padang,Laki-laki,Customer Service,34,0,1
9,1,30/05/19,Kota Padang,Laki-laki,Customer Service,34,0,1
10,1,31/05/19,Kota Padang,Laki-laki,Customer Service,34,0,1
11,1,01/06/19,Kota Padang,Laki-laki,Customer Service,34,0,1
12,1,02/06/19,Kota Padang,Laki-laki,Customer Service,34,0,1
13,1,03/06/19,Kota Padang,Laki-laki,Customer Service,34,0,1
14,1,04/06/19,Kota Padang,Laki-laki,Customer Service,34,0,1
15,1,05/06/19,Kota Padang,Laki-laki,Customer Service,34,0,1
16,2,21/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1,0
17,2,22/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1,0
18,2,23/05/19,Jakarta Selatan,Laki-laki,Data Engineer,26,1,0
19,2,24/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1,0
20,2,25/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1,0
21,2,26/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1,0
22,2,27/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1,0
23,2,28/05/19,Kabupaten Bogor,Laki-laki,Data Engineer,26,1,0
24,2,29/05/19,Jakarta Timur,Laki-laki,Data Engineer,26,1,0
25,2,30/05/19,Kota Manado,Laki-laki,Data Engineer,26,0,0
26,2,31/05/19,Kota Manado,Laki-laki,Data Engineer,26,0,0
27,2,01/06/19,Kota Manado,Laki-laki,Data Engineer,26,0,0
28,2,02/06/19,Kota Manado,Laki-laki,Data Engineer,26,0,0
29,2,03/06/19,Kota Manado,Laki-laki,Data Engineer,26,0,0
...,...,...,...,...,...,...,...,...
1570,99,23/05/19,Kota Depok,Perempuan,Software Engineer,25,1,0
1571,99,24/05/19,Jakarta Timur,Perempuan,Software Engineer,25,1,0
1572,99,25/05/19,Kabupaten Bekasi,Perempuan,Software Engineer,25,1,0
1573,99,26/05/19,Kota Depok,Perempuan,Software Engineer,25,1,0
1574,99,27/05/19,Jakarta Timur,Perempuan,Software Engineer,25,1,0
1575,99,28/05/19,Kabupaten Bekasi,Perempuan,Software Engineer,25,1,0
1576,99,29/05/19,Kota Depok,Perempuan,Software Engineer,25,1,0
1577,99,30/05/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0,0
1578,99,31/05/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0,0
1579,99,01/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0,0
1580,99,02/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0,0
1581,99,03/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0,0
1582,99,04/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0,0
1583,99,05/06/19,Kabupaten Wonogiri,Perempuan,Software Engineer,25,0,0
1584,100,21/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1585,100,22/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1586,100,23/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1587,100,24/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1588,100,25/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1589,100,26/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1590,100,27/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1591,100,28/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1592,100,29/05/19,Jakarta Timur,Perempuan,Software Engineer,29,1,0
1593,100,30/05/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0,0
1594,100,31/05/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0,0
1595,100,01/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0,0
1596,100,02/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0,0
1597,100,03/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0,0
1598,100,04/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0,0
1599,100,05/06/19,Kabupaten Sleman,Perempuan,Software Engineer,29,0,0

In [65]:
df3.to_csv("data_misteri_ramadhan.csv",index='NONE' , header='TRUE')

jabodetabek = 
1.Jakarta Barat,
2.Jakarta Pusat,
3.Jakarta Selatan,
4.Jakarta Timur,
5.Jakarta Utara,
6.Kabupaten Bekasi,
7.Kabupaten Bogor, 
8.Kabupaten Tangerang,
9.Kota Bekasi, 
10.Kota Bogor, 
11.Kota Depok, 
12.Kota Tangerang, 
13.Kota Tangerang Selatan

In [5]:
df.groupby('lokasi_dominan').count()

                            id  tanggal
lokasi_dominan
Jakarta Barat               95       95
Jakarta Pusat               89       89
Jakarta Selatan             67       67
Jakarta Timur               99       99
Jakarta Utara               62       62
Kabupaten Bantul            45       45
Kabupaten Bekasi            74       74
Kabupaten Bogor             57       57
Kabupaten Kebumen            4        4
Kabupaten Lampung Selatan   40       40
Kabupaten Sleman            75       75
Kabupaten Tangerang         47       47
Kabupaten Tasikmalaya       23       23
Kabupaten Wonogiri          46       46
Kota Banda Aceh              6        6
Kota Bandar Lampung         36       36
Kota Bandung                35       35
Kota Bekasi                 99       99
Kota Bogor                  92       92
Kota Depok                 105      105
Kota Manado                 21       21
Kota Medan                  53       53
Kota Padang                 51       51
Kota Semarang               26       26
Kota Surabaya               34       34
Kota Tangerang              76       76
Kota Tangerang Selatan      70       70
Kota Yogyakarta             73       73